body {
  background-color: #99ff00;
}

main {
  /* min-height: calc(100vh - 300px); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#logo-animation {
  width: 100%;
  max-width: 800px;
}

#logo, #shadow {
  display: block;
  margin: auto;
}

#logo {
  width: 90%;
  animation: floating 8s linear .25s infinite normal running;
  padding-bottom: 50px;
}

@keyframes floating {
  0%,100% {
    transform: rotate(-1deg) translate(0px,2px);
    }
  50% {
    transform: rotate(1deg) translate(0px,-30px);
    }
  }

#shadow {
  width: 60%;
  animation: shadow 8s linear .25s infinite normal running;
}

@keyframes shadow {
  0%,100% {
    transform: scale(1);
  }
  50% {
    transform: scale(.93);
  }
}

@media (min-width: 750px) {    /* Larger than tablet */
  main {
    /* min-height: calc(100vh - 150px); */
  }
}