/* Base Styles -------------------- */
body {
  background-color: #8ddd15;
  transition-duration: 300ms;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

nav {
  width: 120px;
  height: 210px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
}

nav button {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3px 0;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}

footer {
  line-height: 50px;
  text-align: center;
  font-size: 0.7rem;
}

page-container p {
  padding-bottom: 200px;
}

page-container {
  margin: auto;
  align-items: center;
}

.white-link {
  color: white;
}

#home-nav {
  color: white;
}

/* Moving Logo */
header {
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
  transition: top 300ms, left 300ms, width 300ms, max-width 600ms, transform 400ms;
}

#logo {
  animation-name: moving-logo;
  animation-duration: 8000ms;
  animation-delay: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#shadow {
  display: block;
  width: 50%;
  margin: 11% auto;
  animation: shadow-animation 8000ms 400ms infinite alternate;
}

.jumbo {
  top: 40vh;
  left: 50%;
  width: 80vw;
  max-width: 700px;
}

.no-jumbo {
  transform: translateX(-50%) rotate(-360deg);
  top: calc(50px + 2vw);
  left: 33%;
  width: 50vw;
}

@keyframes moving-logo {
  0% {
    transform: rotateZ(0) scale(1);
  }
  50% {
    transform: rotateZ(-10deg) scale(1.05);
  }
  100% {
    transform: rotateZ(1deg) scale(0.95);
  }
}

@keyframes shadow-animation {
  0% {
    margin-top: 11%;
    transform: scale(1.0);
  }
  50% {
    margin-top: 10%;
    transform: scale(1.2);
  }
  100% {
    margin-top: 12%;
    transform: scale(0.8);
  }
}


/* Mobile first Media Queries ------------------ */

@media (min-width: 1130px) {    /* Larger than tablet */
  nav {
    position: fixed;
    right: 15px;
  }
  .jumbo {
    top: 40vh;
    left: 50%;
    width: 80vw;
  }

  .no-jumbo {
    position: fixed;
    top: 60px;
    left: calc(15px + 14vw);
    width: 24vw;
    max-width: 500px;
  }
}
