/* Base Styles -------------------- */
body {
  background-color: #99ff00;
  transition-duration: 300ms;
  overflow-x: hidden;
  overflow-y: scroll;
}

nav {
  width: 120px;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  position: absolute;
  top: 0;
  left: calc(100vw - 150px);
  z-index: 2;
}

nav button {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3px 0;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}

footer {
  line-height: 50px;
  text-align: center;
  font-size: 0.7rem;
}

page-container p {
  padding-bottom: 200px;
}

.white-link {
  color: white;
}

#home-nav {
  color: white;
}

/* Moving Logo */
#logo {
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
  transition: top 300ms, left 300ms, width 300ms, max-width 600ms;
  animation-name: moving-logo;
  animation-duration: 15000ms;
  animation-delay: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.jumbo {
  top: 45vh;
  left: 50%;
  width: 80vw;
  max-width: 700px;
}
.no-jumbo {
  top: calc(120px - 2vw);
  left: 33%;
  width: 50vw;
}
@keyframes moving-logo {
  0% {
    transform: rotateZ(0) translateX(-50%) scale(1);
  }
  50% {
    transform: rotateZ(-4deg) translateX(-50%) scale(1.05);
  }
  100% {
    transform: rotateZ(1deg) translateX(-50%) scale(0.95);
  }
}



/* Mobile first Media Queries ------------------ */

@media (min-width: 1130px) {    /* Larger than tablet */
  nav {
    position: fixed;
    left: calc(420px + 50vw);
  }
  .jumbo {
    top: 40vh;
    left: 50%;
    width: 80vw;
  }
  
  .no-jumbo {
    top: calc(120px - 2vw);
    left: calc(-150px + 50vw);
    width: 30vw;
    max-width: 500px;
  }
}
